{% extends "layouts/base.html" %}

{% block maintitle %}
{{ title }}
{% endblock %}

{% block payoff %}
{{ payoff }}
{% endblock %}

{% block contentstack %}
{% for item in collections.bricks %}
<section class="container-fluid bg-light p-2" >
    <div class="row">
        <div class="col-sm-{{ item.data.layoutcols.text }} newsreader-heading">
            <h2 id="{{ item.data.shortname }}">{{ item.data.title }}</h2>
            <p class="lead"> {{ item.data.summary }}</p>
            <p> {{ item.content | safe }}</p>
            
        </div>
        <div class="col-sm-{{ item.data.layoutcols.img }}">
            <figure>
                <img src={{ item.data.img.src }} class="img-fluid" alt="">
                <figcaption>{{ item.data.img.desc }}</figcaption>
            </figure>
            {{ item.data.embedcode | safe }}
            
        </div>
        <p><a href="#" class="backbutton"> ▲ top </a></p>
    </div>
    <hr>
</section>
{% endfor %}
{% endblock %}

{% block footerinfo %}
{{ footinfo }}
{% endblock %}