{% extends "layouts/base.html" %}

{% block maintitle %}
{{ title }}
{% endblock %}

{% block payoff %}
{{ payoff }}
{% endblock %}

{% block contentstack %}
{% for item in collections.bricks %}
<section class="container-fluid bg-light p-2" >
    <div class="row" id="{{ item.data.shortname }}">
        <div class="col-sm-{{ item.data.layoutcols.text }} newsreader-heading">
            <h2>{{ item.data.title }}</h2>
            <p class="lead"> {{ item.data.summary }}</p>
            <p> {{ item.content | safe }}</p>
            
        </div>
        <div class="col-sm-{{ item.data.layoutcols.img }}">
            <figure>
                <img src={{ item.data.img.src }} class="img-fluid" alt="">
                <figcaption>{{ item.data.img.desc }}</figcaption>
            </figure>
            {{ item.data.embedcode | safe }}
            
        </div>
        <p><a href="#" class="backbutton"> ▲ top </a></p>
    </div>
    <hr>
</section>
{% endfor %}
{% endblock %}

{% block lightboxgallery %}
    <div class="container-fluid"> {# Contenitore Bootstrap con margini orizzontali #}
  <div class="row g-3"> {# Inizia la riga, con gutter (gap) tra colonne #}

    {% for image in collections.galleryImages %}
      <div class="col-6 col-md-4 col-lg-3">
       
        <a href="{{ image.full }}" class="glightbox d-block" data-gallery="cats">
          <img 
            src="{{ image.thumb }}" 
            alt="{{ image.alt }}" 
            class="img-fluid rounded shadow-sm"
          />
        </a>
      </div>
    {% endfor %}

  </div>
</div>

{% endblock %}


{% block footerinfo %}
{{ footinfo }}
{% endblock %}