
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

html {
    font-size:medium;
}

body {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(139, 121, 157);
  }

/* <weight>: Use a value from 200 to 800
<uniquifier>: Use a unique and descriptive class name */

.newsreader-heading {
        font-family: "Newsreader", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: rgb(139, 121, 157);
}


h2, h3, h4 { 
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(139, 121, 157);

}

p a {
    background-color: rgb(139, 121, 157);
    color: white;
    padding: 2pt;
    border-radius: 3pt;
    text-decoration: none;
}

p a:hover {
    background-color: rgb(220, 90, 35);
    color: white;
}

.themecolor {
    color: rgb(139, 121, 157);
}

.bg-catterycolor {
    background-color: rgba(139, 121, 157, 0.36);
    color: white;
}

.logos {
    max-width: 60px;
    height: auto;
}

.backbutton {
    text-align: center;
    float: left ;
    min-width: 48px;
    background-color:  rgba(139, 121, 157, 0.3) ;
    color:  rgb(139, 121, 157);
    padding:3pt;
}
