

            <!-- Bottone hamburger -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu di navigazione -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto themecolor">
                    {% for item in collections.bricks %}
                    <li class="nav-item">
                        <a class="nav-link" href="#{{ item.data.shortname }}">{{ item.data.navtitle }}</a>
                    </li>
                    {% endfor %}
                   
                </ul>
            </div>
        </div>
    </nav>
